// form
.test-outline-form-div{
    top: 10px;
}
.test-outline-form-div{
    display: flex;
    flex-direction: row;
}
input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgb(23, 22, 22);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
form {
max-width: 600px;
margin: 0 auto;
}
input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 10px;
    font-size: 10px;
    font-weight: 10;
    letter-spacing: 2px;
    width: 80px;
  }