.test-outline-detail{
    display: flex;
    flex-direction: row;
}
.test-outline-detail-content{
    margin-top: 60px;
    margin-left: 40px;
}
.test-outline-detail-info-header{
    padding: 20px;
}
.detail-element{
    padding: 20px
}
.detail-element-header{
    margin-left: 30px;
}
.detail-element-content{
    right: 300px;
    position: fixed;
}